<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Content/Site.css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="header" id="headerObj">
        <nav class="uc-navbar container">
            <div class="uc-navbar-container">
                <a class="uc-navbar-title uc-navbar-logo uc-navbar-link" href="../Home/Index">
                    <img src="..\assets\UC_LOGO_NO_BACKGROUND.png" class="header-image" />
                    Uncreated Warfare
                </a>
                <div class="uc-navbar-list-container">
                    <ul class="uc-navbar-list">
                        <li class="uc-navbar-item">
                            <a class="uc-navbar-link" href="../Home/Index">Warfare</a>
                        </li>
                        <li class="uc-navbar-item">
                            <a class="uc-navbar-link" href="../Loadouts/Editor">Loadout Maker</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer container" id="footerObj">
        <div>
            Uncreated Warfare (420, BlazingFlame)
        </div>
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
